// ======================================
//  Variables
// ======================================

// fonts
$font-url--google: "https://fonts.googleapis.com/css?family=Bangers|Lato";
$font-stack--primary: "Lato", "Helvetica Neue", Helvetica;
$font-stack--secondary: "Bangers", sans-serif;

// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

// base colors
$white: #fff;
$black: #0b0b0b;
$grey: #797e83;

$cyan: #00e0ff;
$fountain-blue: #52bab3;
$emerald: #5ece7f;
$robins-egg-blue: #00e9c4; // color name frome name that color ;)
$sunglo: #e67478;
$coral: #ff784f;
$purple-majesty: #9279c3;
$scooter: #39add1;

// color usage
$color--primary: $robins-egg-blue;
$color--secondary: $cyan;
$color--accent: $emerald;
$color--shadow: rgba($black, 0.2);

// color palettes
$palettes: (
  grey: (
    xx-light: lighten($grey, 43%),
    x-light: lighten($grey, 35%),
    light: lighten($grey, 12%),
    base: $grey,
    dark: darken($grey, 8%),
    x-dark: darken($grey, 16%)
  ),
  black: (
    light: lighten($black, 10%),
    base: $black,
    dark: darken($black, 10%)
  )
);

// ui color palettes
$button-colors: (
  default: $cyan,
  success: $emerald,
  error: $sunglo,
  warning: $coral,
  info: $purple-majesty
);

$grid-colors: (
  12: lighten($emerald, 12%),
  8: lighten($coral, 12%),
  7: lighten($sunglo, 12%),
  6: darken($cyan, 12%),
  5: lighten($emerald, 12%),
  4: lighten($cyan, 5%),
  3: lighten($purple-majesty, 12%)
);

// text
$base__font-size: 16px;

// border radius
$br--default: 0.4em;
$br--round: 50%;

// breakpoints
$break--mobile: 480px;
$break--desktop: 1400px;
