// ======================================
//  Grid system and main container
// ======================================

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  font-size: $base__font-size;
  @include mq(desktop) {
    width: 80%;
  }
}

// grid base class
.grid {
  &__row {
    @include flex($dir: column, $just: center, $align: stretch);
    padding: 1em 10px;
    @include mq(desktop) {
      @include flex($dir: row, $just: center, $align: stretch);
      &:first-child {
        @include flex($align: center);
      }
    }
  }

  &__col {
    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {
      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {
        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include mq(desktop) {
          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"};
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^="grid__col"] {
  // grid__col + grid__col, targets two sibling columns
  & + & {
    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq(desktop) {
      // add grid gutter
      margin-left: 10px;
    }
  }
}

.grid__col--12 {
  @include flex($dir: column);
  @include mq(desktop) {
    @include flex($dir: row, $just: space-around);
  }
}

.grid__row .grid__col--12 .theme__colors {
  margin: 1rem 0;
  @include mq(desktop) {
    margin: 0 1rem;
  }
}
