// ======================================
//  Images
// ======================================

.img--logo,
.img--avatar,
.img--frame {
  display: block;
  margin: em(20px) auto;
}

.img--frame {
  width: 95%;
  border: 1px solid palette(grey, x-light);
  padding: em(10px) em(10px);
}
