// ======================================
//  Navigation
// ======================================

.nav {
  margin-top: em(10px);
  margin-bottom: em(20px);
  &__item {
    @extend %nav-item-disp;
    a {
      @extend %nav-item-link;
    }
    &:hover {
      background-color: $color--primary;
      a {
        color: $white;
      }
    }
  }
}
