// ======================================
//  Navigation
// ======================================

.nav {
  margin-top: em(10px);
  margin-bottom: em(20px);
  &__item {
    display: block;
    text-align: center;
    padding: em(15px) 0;
    border-radius: $br--default;
    a {
      font-weight: $font-weight--light;
      color: palette(grey);
      text-decoration: none;
    }
    &:hover {
      background-color: $color--primary;
      a {
        color: $white;
      }
    }
  }
}
