// ======================================
//  Typography
// ======================================

.headline--primary {
  @extend %headline-primary;
}

.headline--secondary {
  @extend %headline-secondary;
}

.container > .headline--secondary {
  padding-left: em(10px);
}

.link {
  @extend %link;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 1;
  }
}

.blockquote {
  @extend %blockquote;
}
