// ======================================
//  Base Styles
// ======================================

* {
  box-sizing: border-box;
}

ul {
}

p {
  color: palette(grey);
  line-height: em(25px);
  font-weight: $font-weight--light;
}

a {
}
